<div
        class="reset-password-page-container"
        fxLayout="row"
        fxLayoutAlign="center center"
>
    <mat-card
            *ngIf="newPasswordsForm"
            [formGroup]="newPasswordsForm"
    >
        <mat-card-title>Новый пароль</mat-card-title>

        <mat-card-content>
            <mat-form-field
                    appearance="outline"
                    class="full-width"
            >
                <mat-label>
                    Пароль
                </mat-label>
                <input
                        matInput
                        formControlName="new_password1"
                        placeholder="Введите новый пароль"
                        [type]="isPassword1Visible ? 'text' : 'password'"
                        required
                >
                <button
                        mat-icon-button
                        matSuffix
                        color="primary"
                        type="button"
                        (click)="isPassword1Visible = !isPassword1Visible"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="!isPassword1Visible"
                >
                    <mat-icon>
                        {{isPassword1Visible ?  'visibility' : 'visibility_off'}}
                    </mat-icon>
                </button>
                <mat-error
                        *ngIf="new_password1.invalid"
                >
                    {{getValidatorErrorMessage(new_password1)}}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>
                    Пароль повторно
                </mat-label>
                <input
                        matInput
                        formControlName="new_password2"
                        placeholder="Введите пароль повторно"
                        [type]="isPassword2Visible ? 'text' : 'password'"
                        required
                >
                <button
                        mat-icon-button
                        matSuffix
                        color="primary"
                        type="button"
                        (click)="isPassword2Visible = !isPassword2Visible"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="!isPassword2Visible"
                >
                    <mat-icon>
                        {{isPassword2Visible ?  'visibility' : 'visibility_off'}}
                    </mat-icon>
                </button>
                <mat-hint
                        *ngIf="!isPasswordsEqual()"
                >
                    Введенные пароли не совпадают
                </mat-hint>
                <mat-error
                        *ngIf="new_password2.invalid"
                >
                    {{getValidatorErrorMessage(new_password2)}}
                </mat-error>
            </mat-form-field>

            <div
                    fxLayout="row"
                    fxLayoutAlign="center center"
            >
                <button
                        mat-flat-button
                        color="primary"
                        type="submit"
                        (click)="submit()"
                        [disabled]="!isPasswordsEqual()"
                >
                    Подтвердить
                </button>
            </div>
        </mat-card-content>
    </mat-card>

</div>
