.img {
  width: 187px;
}
.review-event-page[_ngcontent-c7] {
  background: white;
}
.statistics{
  max-height: 700px;
}
.no-static{
  margin: 20px;
}
.review-event-page{
  height: calc(100% - 30%);
}
