<!-- <mat-sidenav-container>
  <mat-sidenav
    [opened]="true"
    autoFocus="false"
    class="sidebar mat-elevation-z6"
  >
    <div class="menu-link" fxLayout="column">
      <a mat-button style="height: 0; position: absolute"></a>
      <mat-divider></mat-divider>
      <a
        mat-button
        fxFlex="54px"
        uiSref="app.your-any-url"
        [ngClass]="{ 'selected-menu-item': isState('any') }"
      >
        <mat-icon
          class="sidenav-icon"
          matTooltip="ANY"
          [matTooltipPosition]="'right'"
        >
          add
        </mat-icon>
      </a>
      <mat-divider></mat-divider>
    </div>
  </mat-sidenav>
</mat-sidenav-container> -->
