.buttons {
  display: block;
}
.btn {
  width: 170px;
  border-radius: 10px;
  line-height: 70px;
  color: #003366;
  margin-bottom: 10px;
}
.text {
  margin-bottom: 10px;
  text-size-adjust: initial;
  align-items: center;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
}
